.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 25%;
  transition: margin-left 0.3s ease;
  height: 100vh;
  overflow: hidden;
}

.main-bottom {
  padding: 12px;
  flex: 1;
  padding: 16px;
  background-color: #121212;
}

/* ============================
   SECTIONS
============================ */
.character-sheet {
  flex: 1;
  background-color: #1e1e1e;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  box-sizing: border-box;
}

